<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>AbyCash</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="container mt-5">
        <form method="post">
            <div class="row d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <input type="text" name="name" class="form-control is-valid mr-1" placeholder="Назва рахунку"/>
                    <input type="number" name="startingbalance" class="form-control is-valid mr-1" placeholder="Початковий баланс"/>
                    <select name="currency" class="custom-select mb-2 mr-sm-2 mb-sm-0 form-control is-valid">
                        <div th:each="e : ${currencies}" >
                            <option><span th:text="${e.code}"/></option>
                        </div>
                    </select>

                    <input type="text" name="comment" class="form-control is-valid mr-1" placeholder="Опис"/>
                    <button class="btn btn-success" type="submit">Додати рахунок</button>
                </div>
            </div>
        </form>
</div>




<div class="container mt-3">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:30%">Назва рахунку</th>
                <th>Залишок</th>
                <th style="width:1%">Валюта</th>
                <th>опис</th>
                <th style="width:1%"></th>
                <th style="width:1%"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="element : ${accounts}">
                <td th:text="${element.name}"/>
                <td th:text="${element.startingbalance}"/>
                <td class="text-center" th:text="${element.currency}"/>
                <td th:text="${element.comment}"/>
                <td>
                    <a class="btn btn-warning btn-sm" th:href="'/accounts_folder/' + ${element.id} + '/edit'">редагувати</a>
                </td>
                <td>
                    <form method="post" th:action="'accounts_folder/' + ${element.id} + '/delete'">
                        <button class="btn-danger btn-sm" type="submit">видалити</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>