<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>AbyCash</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>

<div class="container mt-5">
    <form>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">

                <h3>Додати</h3>
                <a class="btn btn-success text-white ml-1" href="/operation_folder/1/add">Дохід</a>
                <a class="btn btn-success text-white ml-1" href="/operation_folder/2/add">Витрата</a>
                <a class="btn btn-success text-white ml-1" href="/operation_folder/changing">Переказ</a>

            </div>
        </div>
    </form>
</div>

<div class="container mt-3">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:1%" class="text-center">Дата</th>
                <th>Рахунок</th>
                <th style="width:10%">Дохід/Витрата</th>
                <th>Залишок</th>

                <th style="width:1%" class="text-center">Валюта</th>

                <th style="width:15%">Стаття</th>
                <th style="width:30%">Опис</th>

            </tr>
        </thead>
        <tbody>
                <tr th:each="e : ${operations}">
                    <td th:text="${e.date}"/>

                    <div th:if="${#strings.startsWith(e.amount,'-')}">
                        <td th:text="${e.account}"/>
                        <td class="text-danger text-right" th:text="${e.amount}"/>
                    </div>

                    <div th:unless="${#strings.startsWith(e.amount,'-')}">
                        <td th:text="${e.account}"/>
                        <td class="text-success text-left" th:text="${e.amount}"/>

                    </div>

                    <td th:text="${e.balance}"/>

                    <td class="text-center" th:text="${e.currency}"/>
                    <td th:text="${e.state}"/>
                    <td th:text="${e.comment}"/>
                </tr>
        </tbody>
    </table>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>